<div class="page-wrapper">
  <h2 class="title">
    <%= title %>
  </h2>

  <form method="post" action="/admin/procurement_aboutcompany/edit/<%= about.id %>" class="form-container">

    <input type="text" name="title" value="<%= about.title %>" class="form-input" placeholder="Enter title">
    <input type="text" name="description" value="<%= about.description %>" class="form-input" placeholder="Enter description">
    <input type="text" name="btn_text" value="<%= about.btn_text %>" class="form-input" placeholder="Enter button text">
    <input type="text" name="route" value="<%= about.route %>" class="form-input" placeholder="Enter route">

    <button type="submit" class="form-button">Update</button>
  </form>

  <% if (error) { %>
    <p class="error-messages">
      <%= error %>
    </p>
  <% } %>
</div>
