<div class="page-wrapper">
  <h2 class="title"><%= title %></h2>

  <form method="post" action="/admin/homepage_news/edit/<%= homepageNews.id %>" class="form-container">

    <div class="input-with-button">
      <input type="text" name="img_url" id="selectedMediaInput" class="form-input" value="<%= homepageNews.img_url %>" placeholder="Enter image URL">
      <button type="button" class="small-button openMediaModal" data-target="selectedMediaInput">Choose</button>
    </div>

    <input type="text" name="title" id="title" class="form-input" value="<%= homepageNews.title %>">
    <input type="text" name="data" id="data" class="form-input" value="<%= homepageNews.data %>">
    <input type="text" name="link_about" id="link_about" class="form-input" value="<%= homepageNews.link_about %>">

    <button type="submit" class="form-button">Update</button>
  </form>

  <% if (error) { %>
    <p class="error-messages"><%= error %></p>
  <% } %>

  <div id="imageModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Select Media</h2>
      <div class="image-grid" id="imageGrid">
        <div id="imagesContainer"><h3>Images</h3></div>
        <div id="videosContainer"><h3>Videos</h3></div>
      </div>
    </div>
  </div>
</div>